
<div class="article-card-content"
     *ngIf="article">
    <app-label-value title="Kategorie"
                        [value]="article.category"
                        class="article-info-category"></app-label-value>
    <app-label-value title="Hersteller"
                        [value]="article.manufacturer"
                        class="article-info-manufacturer"></app-label-value>
    <app-label-value [title]="priceLableText"
                        [value]="priceValueText"
                        class="article-info-sale-for"></app-label-value>
    <app-label-value [title]="soldLableText"
                        [value]="soldValueText"
                        class="article-info-sold-for"></app-label-value>
    <app-label-value [title]="returnedLableText"
                        [value]="returnedValueText"
                        class="article-info-returned"></app-label-value>
</div>