
.article-card-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
        "category manufacturer"
        "salefor salefor"
        "soldfor soldfor"
        "returned returned";
}

.article-info-category {
    grid-area: category;
}
.article-info-manufacturer {
    grid-area: manufacturer;
}
.article-info-sale-since {
    grid-area: salesince;
}
.article-info-sale-for {
    grid-area: salefor;
}
.article-info-sold-since {
    grid-area: soldsince;
}
.article-info-sold-for {
    grid-area: soldfor;
}
.article-info-returned {
    grid-area: returned;
}