
<div class="category-page">

    <div class="page-title">
        <div class="page-title-caption">
            <div>Kategorien - Liste</div>
        </div>
        <button pButton pRipple type="button" icon="pi pi-plus"
                class="page-title-add-btn p-button-rounded p-button-outlined"
                (click)="onAddNewCategory()"></button>
        <button pButton pRipple type="button" icon="pi pi-refresh"
                class="page-title-refresh-btn p-button-rounded p-button-warning p-button-outlined"
                (click)="onReLoadCategory()"></button>
    </div>

</div>