
:host .stsi-area i {
    cursor: pointer;
    width: 37px;
    height: 37px;
}

:host .stsi-area input {
    height: 37px;
}

:host .stsi-area :hover  {
    background-color: rgb(57, 57, 57);
}

:host ::ng-deep .p-inputtext {
    height: 37px !important;
}
:host ::ng-deep .p-inputgroup-addon {
    width: 37px !important;
    min-width: 37px !important;
    height: 37px !important;
}


// regular: #7e7e7e
// hover:   #A5A5A5
