
<div class="demo-area">
    <h2>app-simple-toolbar-area</h2>

    <app-simple-toolbar-area>
        <app-simple-toolbar-new-btn styleClass="toolbar-btn"></app-simple-toolbar-new-btn>
        <app-simple-toolbar-search-btn styleClass="toolbar-btn"></app-simple-toolbar-search-btn>
        <app-simple-toolbar-refresh-btn styleClass="toolbar-btn"></app-simple-toolbar-refresh-btn>
        <app-simple-toolbar-search-input styleClass="toolbar-btn"
                                        (doSearch)="writeConsole($event)"
                                        (keyupChange)="writeConsole($event)"></app-simple-toolbar-search-input>
        <s-btn styleClass="toolbar-btn" iconLeft="pi pi-apple"></s-btn>
    </app-simple-toolbar-area>
</div>



<div class="demo-area">
    <h2>s-btn</h2>

    <h4>Raised</h4>
    <div class="demo-elements">
        <s-btn styleType="raised" caption="basic"></s-btn>
        <s-btn styleType="raised" caption="primary" category="primary"></s-btn>
        <s-btn styleType="raised" caption="secondary" category="secondary"></s-btn>
        <s-btn styleType="raised" caption="success" category="success"></s-btn>
        <s-btn styleType="raised" caption="info" category="info"></s-btn>
        <s-btn styleType="raised" caption="warning" category="warning"></s-btn>
        <s-btn styleType="raised" caption="help" category="help"></s-btn>
        <s-btn styleType="raised" caption="danger" category="danger"></s-btn>
    </div>
    
    <h4>Text</h4>
    <div class="demo-elements">
        <s-btn styleType="text" caption="basic"></s-btn>
        <s-btn styleType="text" caption="primary" category="primary"></s-btn>
        <s-btn styleType="text" caption="secondary" category="secondary"></s-btn>
        <s-btn styleType="text" caption="success" category="success"></s-btn>
        <s-btn styleType="text" caption="info" category="info"></s-btn>
        <s-btn styleType="text" caption="warning" category="warning"></s-btn>
        <s-btn styleType="text" caption="help" category="help"></s-btn>
        <s-btn styleType="text" caption="danger" category="danger"></s-btn>
    </div>
    
    <h4>Outlined</h4>
    <div class="demo-elements">
        <s-btn styleType="outlined" caption="basic"></s-btn>
        <s-btn styleType="outlined" caption="primary" category="primary"></s-btn>
        <s-btn styleType="outlined" caption="secondary" category="secondary"></s-btn>
        <s-btn styleType="outlined" caption="success" category="success"></s-btn>
        <s-btn styleType="outlined" caption="info" category="info"></s-btn>
        <s-btn styleType="outlined" caption="warning" category="warning"></s-btn>
        <s-btn styleType="outlined" caption="help" category="help"></s-btn>
        <s-btn styleType="outlined" caption="danger" category="danger"></s-btn>
    </div>
    
    <h4>Icons</h4>
    <div class="demo-elements">
        <s-btn></s-btn>
        <s-btn caption="."></s-btn>
        <s-btn caption=".."></s-btn>
        <s-btn caption="..."></s-btn>
        <s-btn iconLeft="pi pi-wallet"></s-btn>
        <s-btn iconRight="pi pi-wallet"></s-btn>
        <s-btn iconLeft="pi pi-wallet" iconRight="pi pi-wallet"></s-btn>
    </div>
    <div class="demo-elements">
        <s-btn caption="basic"></s-btn>
        <s-btn caption="basic" iconLeft="pi pi-wallet"></s-btn>
        <s-btn caption="basic" iconRight="pi pi-wallet"></s-btn>
        <s-btn caption="basic" iconLeft="pi pi-wallet" iconRight="pi pi-wallet"></s-btn>
    </div>
    <div class="demo-elements">
        <s-btn styleType="text" caption="basic"></s-btn>
        <s-btn styleType="text" caption="basic" iconLeft="pi pi-wallet"></s-btn>
        <s-btn styleType="text" caption="basic" iconRight="pi pi-wallet"></s-btn>
        <s-btn styleType="text" caption="basic" iconLeft="pi pi-wallet" iconRight="pi pi-wallet"></s-btn>
    </div>
    <div class="demo-elements">
        <s-btn styleType="outlined" caption="basic"></s-btn>
        <s-btn styleType="outlined" caption="basic" iconLeft="pi pi-wallet"></s-btn>
        <s-btn styleType="outlined" caption="basic" iconRight="pi pi-wallet"></s-btn>
        <s-btn styleType="outlined" caption="basic" iconLeft="pi pi-wallet" iconRight="pi pi-wallet"></s-btn>
    </div>
    

    <div class="demo-two-columns">

        <div>
            <h4>Size</h4>
            <div class="demo-elements">
                <s-btn sizeType="smal" caption="."></s-btn>
                <s-btn sizeType="normal" caption="."></s-btn>
                <s-btn sizeType="large" caption="."></s-btn>
                <s-btn sizeType="xlarge" caption="."></s-btn>
                <s-btn sizeType="xxlarge" caption="."></s-btn>
            </div>
        </div>

        <div>
            <h4>Size (icon)</h4>
            <div class="demo-elements">
                <s-btn sizeType="smal" iconLeft="pi pi-wallet"></s-btn>
                <s-btn sizeType="normal" iconLeft="pi pi-wallet"></s-btn>
                <s-btn sizeType="large" iconLeft="pi pi-wallet"></s-btn>
                <s-btn sizeType="xlarge" iconLeft="pi pi-wallet"></s-btn>
                <s-btn sizeType="xxlarge" iconLeft="pi pi-wallet"></s-btn>
            </div>
        </div>

        <div>
            <h4>s-add-btn</h4>
            <div class="demo-elements">
                <s-btn-add></s-btn-add>
                <s-btn-add [disabled]="true"></s-btn-add>
            </div>
        </div>
    
        <div>
            <h4>s-refresh-btn</h4>
            <div class="demo-elements">
                <s-btn-refresh></s-btn-refresh>
                <s-btn-refresh [disabled]="true"></s-btn-refresh>
            </div>
        </div>
    
        <div>
            <h4>s-search-btn</h4>
            <div class="demo-elements">
                <s-btn-search></s-btn-search>
                <s-btn-search [disabled]="true"></s-btn-search>
            </div>
        </div>
    
        <div>
            <h4>s-angle-right-btn</h4>
            <div class="demo-elements">
                <s-btn-angle-right></s-btn-angle-right>
                <s-btn-angle-right [disabled]="true"></s-btn-angle-right>
            </div>
        </div>
    
        <div>
            <h4>s-save-btn</h4>
            <div class="demo-elements">
                <s-btn-save></s-btn-save>
                <s-btn-save [disabled]="true"></s-btn-save>
            </div>
        </div>

    </div>

</div>



<div class="demo-area">
    <h2>app-simple-input</h2>

    <h4>Blank</h4>
    <app-simple-input [(value)]="valueTxt"></app-simple-input>

    <h4>placeholder</h4>
    <app-simple-input placeholder="Mit Platzhalter" [(value)]="valueTxt"></app-simple-input>

    <h4>Überschrift</h4>
    <app-simple-input labelTxt="Überschrift" [(value)]="valueTxt"></app-simple-input>

    <h4>Hilfstext</h4>
    <app-simple-input helpTxt="Eine Zahl zwischen 1 und 10000" [(value)]="valueTxt"></app-simple-input>

    <h4>Actionsknöpfe links</h4>
    <app-simple-input [buttonsLeft]="[{key: 'k1', icon: 'pi pi-apple'}]" [(value)]="valueTxt"></app-simple-input>

    <h4>Actionsknöpfe rechts</h4>
    <app-simple-input [buttonsRight]="[{key: 'k1', icon: 'pi pi-apple'}]" [(value)]="valueTxt"></app-simple-input>

    <h4>Actionsknöpfe beidseitig</h4>
    <app-simple-input [buttonsLeft]="[{key: 'k1', icon: 'pi pi-apple'}]" [buttonsRight]="[{key: 'k1', icon: 'pi pi-apple'}]" [(value)]="valueTxt"></app-simple-input>

    <h4>Fehler</h4>
    <app-simple-input errorTxt="Eingabe sollte eine Zahl sein!" [(value)]="valueTxt"></app-simple-input>

    <h4>Fehler (ohne Icon)</h4>
    <app-simple-input errorTxt="Eingabe sollte eine Zahl sein!" [exclamationInCaseOfError]="false" [(value)]="valueTxt"></app-simple-input>
    
    <p>{{valueTxt}}</p>
</div>