
<div style="margin: 10px 10px 0 10px;">
    
    <app-accordion>
        <app-expansion-panel [headerTitle]="'app-input-field'">
            <app-input-field-demo></app-input-field-demo>
        </app-expansion-panel>
    </app-accordion>
    
    <app-accordion>
        <app-expansion-panel [headerTitle]="'app-article-card-demo'">
            <app-article-card-demo></app-article-card-demo>
        </app-expansion-panel>
    </app-accordion>
    
    <app-accordion>
        <app-expansion-panel [headerTitle]="'app-seller-selection-input-demo'">
            <app-seller-selection-input-demo></app-seller-selection-input-demo>
        </app-expansion-panel>
    </app-accordion>
    
</div>