
.header-menu-btn {
    height: 100%;
    
    padding-left: 10px;
    padding-right: 10px;
    
    display: flex;
    align-items: center;

    i {
        font-size: 3rem;
    }

    .header-area-title-area {
        padding-left: 10px;
    }
    
    .header-area-app-title-name {
        font-size: 2rem;
    }
}