
<div class="article-card-content"
     *ngIf="article">
    <app-label-value title="Kategorie"
                     [value]="article.category"
                     class="article-info-category"></app-label-value>
    <app-label-value title="Hersteller"
                     [value]="article.manufacturer"
                     class="article-info-manufacturer"></app-label-value>
    <app-label-value title="Preis"
                     [value]="priceValueText"
                     class="article-info-sale-for"></app-label-value>
</div>