
.toolbar-left-right-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-dialog-container {
  @media screen and (max-width: 827px) {
    width: 100vw !important;
  }
}


.dialog-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.titel-bar {
  height: 30px;
  font-weight: bold;
}

.input-area {
  display: grid;

  // Mobile
  @media screen and (max-width: 575px) {
    grid-template-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    grid-template-areas: 
      "number"
      "salutation"
      "lastname"
      "firstname"
      "street"
      "zip"
      "town"
      "phone"
      "email"
      "btnSave"
      "btnCancel";
  }

  // Tablet
  @media screen and (min-width: 575px) and (max-width: 767px) {
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 3px;
    grid-template-areas: 
      "number . . salutation"
      "lastname lastname firstname firstname"
      "street street street street"
      "zip town town town"
      "phone phone email email"
      ". .  btnSave btnCancel";
  }

  // DESKTOP
  @media screen and (min-width: 767px) and (max-width: 991px) {
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-column-gap: 5px;
    grid-template-areas: 
    "number salutation lastname lastname firstname firstname"
    ". street street zip town town"
    ". phone phone . email email"
    ". . . .  btnSave btnCancel";
  }

  // LARGE SCREENS
  @media screen and (min-width: 991px) {
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-column-gap: 5px;
    grid-template-areas: 
    "number salutation lastname lastname firstname firstname"
    ". street street zip town town"
    ". phone phone . email email"
    ". . . .  btnSave btnCancel";
  }
}

.input-number {
  grid-area: number;
}
.input-salutation {
  grid-area: salutation;
}
.input-lastname {
  grid-area: lastname;
}
.input-firstname {
  grid-area: firstname;
}
.input-street {
  grid-area: street;
}
.input-zip {
  grid-area: zip;
}
.input-town {
  grid-area: town;
}
.input-phone {
  grid-area: phone;
}
.input-email {
  grid-area: email;
}
.input-btnSave {
  grid-area: btnSave;
}
.input-btnCancel {
  grid-area: btnCancel;
}