
<p-dialog
    header="Verkäufer hinzufügen ..."
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [focusOnShow]="true"
    [(visible)]="doShowDialog"
    [closable]="true"
    [closeOnEscape]="true"
    (onShow)="onShow()"
    (onHide)="onHide()">

    <div class="add-dialog-content-area">
        <app-simple-input #sellerId labelTxt="Nummer (*)" type="number"
                          class="input-item-id"
                          [(value)]="sellerNumber"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerId')"></app-simple-input>
        <app-simple-input class="input-item-salutation"
                          labelTxt="Anrede"
                          [(value)]="sellerSalutation"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerSalutation')"></app-simple-input>
        <app-simple-input #sellerFirstName labelTxt="Vorname (*)"
                          class="input-item-firstname"
                          [(value)]="sellerFirstname"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerFirstName')"></app-simple-input>
        <app-simple-input #sellerLastName labelTxt="Nachname (*)"
                          class="input-item-lastname"
                          [(value)]="sellerLastname"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerLastName')"></app-simple-input>
        <app-simple-input class="input-item-phone"
                          labelTxt="Telefon"
                          type="tel"
                          [(value)]="sellerPhone"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerPhone')"></app-simple-input>
        <app-simple-input class="input-item-email"
                          labelTxt="E-Mail" type="email"
                          [(value)]="sellerEmail"
                          [exclamationInCaseOfError]="false"
                          (valueChange)="inputChange('sellerEmail')"></app-simple-input>
    </div>

    <ng-template pTemplate="footer">
        <app-progress-spinner *ngIf="waitForCreation" [width]="'39px'" [height]="'39px'"></app-progress-spinner>
        <s-btn-save *ngIf="!waitForCreation" (click)="onCreateNewEntry()"></s-btn-save>
    </ng-template>

</p-dialog>