
<mat-form-field class="seller-selection-input">
    <mat-label>{{inputLabel}}</mat-label>
    <input matInput
           type="number"
           aria-label="State"
           sellerNummberValidator [isRequired]="true" [isNewMode]="false"
           [matAutocomplete]="auto"
           [formControl]="sellerCtrl"
           (keyup)="keyUp($event)">
    <mat-error *ngIf="sellerCtrl.invalid">{{getErrorMessage(sellerCtrl)}}</mat-error>
    <mat-icon matPrefix style="margin-right: 3px;">person</mat-icon>
    <div matSuffix
         *ngIf="showSellerHint">{{inputHint}}</div>
    <mat-autocomplete #auto="matAutocomplete"
                      [panelWidth]="500"
                      (optionSelected)="optionSelected()">
        <mat-option *ngFor="let seller of filteredSellers | async" [value]="seller.id">
            <mat-icon>person</mat-icon>
            <span>{{seller.id}}: {{seller.lastName}}, {{seller.firstName}}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>