
<div class="info-row">
    <div class="info-ctrl">
        <app-input-field [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Text Eingabe</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field [inputType]="'number'"
                         [frmCtrl]="simpleNumberCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Nummerische Eingabe</p>
    </div>
</div>



<div class="info-row">
    <div class="info-ctrl">
        <app-input-field hintValue="Hindweis Text"
                         [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Hindweis text</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field prefixValue="+49&nbsp;"
                         [inputType]="'number'"
                         [frmCtrl]="simpleNumberCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Prefix Text</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field suffixValue=".00&nbsp;€"
                         [inputType]="'number'"
                         [frmCtrl]="simpleNumberCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Suffix Text</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field suffixValue=" €"
                         [inputRightAlign]="true"
                         [inputType]="'number'"
                         [frmCtrl]="simpleNumberCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Suffix Text</p>
        <p>- Right Align</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field [frmCtrl]="simpleErrorTxtCtrl"
                         [errorValue]="getErrorMessage(simpleErrorNumberCtrl)"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Text Eingabe</p>
        <p>- Fehlermeldung wenn leer</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field labelValue="Text Eingabe"
                         [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Label</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field labelValue="Text Eingabe"
                         floatLabel="always"
                         [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Label fest</p>
        <p>- Text Eingabe</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field placeholder="sag mal Hallo"
                         [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Platzhalter</p>
        <p>- Text Eingabe</p>
    </div>
</div>

<div class="info-row">
    <div class="info-ctrl">
        <app-input-field labelValue="Text Eingabe"
                         placeholder="sag mal Hallo"
                         [frmCtrl]="simpleTxtCtrl"></app-input-field>
    </div>
    <div class="info-desc">
        <p>- Label</p>
        <p>- Platzhalter</p>
        <p>- Text Eingabe</p>
    </div>
</div>




