
<div class="message-box-dlg" *ngIf="data && data.message">
    <div class="message-box-dlg-titel" *ngIf="data.title">{{data?.title}}</div>
    <div class="message-box-dlg-message">{{data.message}}</div>
    <div class="message-box-dlg-buttons"
         *ngIf="data.buttons"
         [ngClass]="{'grid-template-btn2': data.buttons && data.buttons.length == 2,
                     'grid-template-btn3': data.buttons && data.buttons.length == 3,
                     'grid-template-btn4': data.buttons && data.buttons.length == 4}">
            <button *ngFor="let btnItem of data.buttons"
                    mat-raised-button
                    color="{{btnItem.color}}"
                    (click)="onBtnClicked(btnItem.key)">{{btnItem.title}}</button>
    </div>
</div>

<div class="message-box-dlg" *ngIf="!data || !data.message || data.message.length <= 0">
    No data or message given !!!
</div>