
<div class="seller-element-detail-content">

    <ng-container *ngIf="seller">
        <app-label-value class="seller-element-detail-articles"
                                  title="Artikel"
                                  defaultValue="0"
                                  [value]="statistics?.articles"></app-label-value>
        <app-label-value class="seller-element-detail-onsale"
                                  title="Im Verkauf"
                                  defaultValue="0"
                                  [value]="statistics?.onSold"></app-label-value>
        <app-label-value class="seller-element-detail-sold"
                                  title="Verkauft"
                                  defaultValue="0"
                                  [value]="statistics?.sold"></app-label-value>
        <app-label-value class="seller-element-detail-returned"
                                  title="Zurückgegeben"
                                  defaultValue="0"
                                  [value]="statistics?.returned"></app-label-value>
    
        <app-label-value class="seller-element-detail-sales"
                                  title="Umsatz"
                                  defaultValue="0"
                                  [value]="statistics?.sales"></app-label-value>
        <app-label-value class="seller-element-detail-tax"
                                  title="Abzug"
                                  defaultValue="0"
                                  [value]="statistics?.tax"></app-label-value>
        <app-label-value class="seller-element-detail-net"
                                  title="Ertrag"
                                  defaultValue="0"
                                  [value]="statistics?.net"></app-label-value>
    
        <app-label-value class="seller-element-detail-street"
                                  title="Straße"
                                  [value]="seller.street"></app-label-value>
        <app-label-value class="seller-element-detail-zip"
                                  title="PLZ"
                                  [value]="seller.zip"></app-label-value>
        <app-label-value class="seller-element-detail-town"
                                  title="Ort"
                                  [value]="seller.town"></app-label-value>
        <app-label-value class="seller-element-detail-phone"
                                  title="Telefon"
                                  [value]="seller.phone"></app-label-value>
        <app-label-value class="seller-element-detail-email"
                                  title="E-Mail"
                                  [value]="seller.eMail"></app-label-value>
    
        <div class="seller-element-devider1"></div>
        <div class="seller-element-devider2"></div>
    
        <button mat-raised-button color="primary"
                                  class="seller-element-detail-editbtn"
                                  (click)="updateSellerUi(seller.id)">Ändern</button>
        <button mat-raised-button class="seller-element-detail-editArticelbtn"
                                  (click)="navigateToArticels(seller.id)">Artikel</button>
        <button mat-raised-button color="warn"
                                  class="seller-element-detail-deletebtn"
                                  (click)="deleteSellerUi(seller.id)">Löschen</button>
    </ng-container>

    <ng-container *ngIf="!seller">
        <p>Input 'element' is not set!</p>
    </ng-container>
  </div>