table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-header-row {
  height: 30px !important;
}

tr.seller-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.seller-row:not(.example-expanded-row):active {
    background: #efefef;
}

.seller-row td {
    border-bottom-width: 0;
}

tr.seller-detail-row {
    height: 0;
}


.seller-element-aktive-element-bk {
  background: #D9D6D6;
  padding-right: 5px !important;
}


.seller-element-detail {
    overflow: hidden;
}
.seller-element-detail-content {
    padding: 5px;
    margin-bottom: 5px;

    width: calc(100% - 10px);
    background: white;

    display: grid;

    @media screen and (max-width: 575px) {
      grid-template-columns: 33% 33% 33%;
      grid-column-gap: 2px;
      grid-row-gap: 3px;
      grid-template-areas:
        "articles onsale sold"
        ". . returned"
        "sales tax net"
        "devider1 devider1 devider1"
        "street street street"
        "zip town town"
        "phone phone phone"
        "email email email"
        "devider2 devider2 devider2"
        "editbtn editbtn deletebtn"
        "editArticelbtn editArticelbtn .";
      
      ::ng-deep .mat-form-field-infix {
        width: auto !important;
      }
    }

    @media screen and (min-width: 575px) and (max-width: 767px) {
      grid-template-columns: 25% 25% 25%;
      grid-column-gap: 5px;
      grid-row-gap: 3px;
      grid-template-areas:
        "articles onsale sold returned"
        ". sales tax net"
        "devider1 devider1 devider1 devider1"
        "street street street street"
        "zip town town town"
        "phone phone email email"
        "devider2 devider2 devider2 devider2"
        "editbtn editbtn . deletebtn"
        "editArticelbtn editArticelbtn . .";
      
      ::ng-deep .mat-form-field-infix {
        width: auto !important;
      }
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-column-gap: 5px;
      grid-row-gap: 0px;
      grid-template-areas:
        "articles . onsale sold returned"
        ". . sales tax net"
        "devider1 devider1 devider1 devider1 devider1"
        "street street street . ."
        "zip town town . ."
        "phone . email . ."
        "devider2 devider2 devider2 devider2 devider2"
        "editbtn editArticelbtn . . deletebtn";
    }

    @media screen and (min-width: 991px) {
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-column-gap: 5px;
      grid-row-gap: 0px;
      grid-template-areas:
        "articles . onsale sold returned"
        ". . sales tax net"
        "devider1 devider1 devider1 devider1 devider1"
        "street street street . ."
        "zip town town . ."
        "phone . email . ."
        "devider2 devider2 devider2 devider2 devider2"
        "editbtn editArticelbtn . . deletebtn";
    }
}

.seller-element-detail-articles {
  grid-area: articles;
}
.seller-element-detail-onsale {
  grid-area: onsale;
}
.seller-element-detail-sold {
  grid-area: sold;
}
.seller-element-detail-returned {
  grid-area: returned;
}
.seller-element-detail-sales {
  grid-area: sales;
}
.seller-element-detail-tax {
  grid-area: tax;
}
.seller-element-detail-net {
  grid-area: net;
}

.seller-element-detail-street {
  grid-area: street;
}
.seller-element-detail-zip {
  grid-area: zip;
}
.seller-element-detail-town {
  grid-area: town;
}
.seller-element-detail-phone {
  grid-area: phone;
}
.seller-element-detail-email {
  grid-area: email;
}
.seller-element-detail-editbtn {
  grid-area: editbtn;
}
.seller-element-detail-editArticelbtn {
  grid-area: editArticelbtn;
}
.seller-element-detail-deletebtn {
  grid-area: deletebtn;
}
.seller-element-devider1 {
  grid-area: devider1;
  margin: 10px 0 10px 0;
  background-color: #E0E0E0;
  height: 1px;
}
.seller-element-devider2 {
  grid-area: devider2;
  margin: 10px 0 10px 0;
  background-color: #E0E0E0;
  height: 1px;
}
.seller-element-devider3 {
  grid-area: devider3;
  margin: 10px 0 10px 0;
  background-color: #E0E0E0;
  height: 1px;
}

.seller-element-detail-content ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.input-no-underline ::ng-deep .mat-form-field-underline {
    height: 0px !important;
}