
.simple-toolbar-btn {
    cursor: pointer;
    min-width: 40px;
    height: 40px;

    padding: 1px 8px;
    border-radius: 4px;
    background-color: #1E1E1E;
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
}

:hover {
    background-color: rgb(57, 57, 57);
    border-color: #626262;
    
    user-select: none; /* For Chrome and Opera */
   -ms-user-select: none; /* For Internet Edge and Explorer*/
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -khtml-user-select: none; /* Konqueror HTML */
}

.dl8 {
    margin-left: 8px;
}