/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"), url(./assets/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"), url(./assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf) format("truetype");
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: block;
}